{{> header}}

<main class="content">
  <canvas id="first-canvas"></canvas>
  <button type="button" id="clear-button">Clear</button>
  <button type="button" id="save-button">Predict</button>

  <div id="tool-select-panel">
      <button type="button" id="draw-tool-button">Draw</button>
      <button type="button" id="erase-tool-button">Erase</button>
      <button type="button" id="select-tool-button">Select</button>
  </div>

  <canvas id="neural-canvas"></canvas>
</main>
