{{> header}}

<main class="content">
  <canvas id="first-canvas"></canvas>
  <button type="button" id="clear-button">Clear</button>
  <button type="button" id="predict-button">Predict</button>
  <button type="button" id="save-button">Save</button>
  <button type="button" id="load-button">Load</button>

  <div id="save-modal" class="hidden">
    <button type="button" id="save-modal-close-button">X</button> save modal
    <form action="save" method="POST">
      <label for="save-modal-text-input">File Name:</label>
      <input type="text" name="fname" id="save-modal-text-input">
      <input type="hidden" name="image" id="save-modal-image-data">
      <button type="submit" id="save-modal-submit-button">Save file on server</button>
    </form>
  </div>
  <div id="load-modal" class="hidden">
    <button type="button" id="load-modal-close-button">X</button> load modal
    <form action="load" method="POST">
      <label for="load-modal-text-input">File Name:</label>
      <input type="text" name="fname" id="load-modal-text-input">
      <button type="submit" id="load-modal-submit-button">Load file from server</button>
    </form>
  </div>

  <div id="init-message-modal" class="hidden">
    <button type="button" id="init-message-modal-close-button">X</button> initial message modal
    <p id = "init-message-modal-text">{{initMessage}}</p>
  </div>

  <p class="hidden" id="init-data">{{initData}}</p>
  <p class="hidden" id="init-message">{{initMessage}}</p>
</main>
