{{> header}}

<main class="content">
  <button class="pure-button" type="button" id="clear-button">Clear</button>
  <button class="pure-button" type="button" id="save-button">Predict</button>
  <canvas id="first-canvas"></canvas>
</main>
