<meta charset="utf-8">
<title>{{siteTitle}}</title>

{{#each styles}}
  <link rel="stylesheet" href="{{src}}">
{{/each}}

{{#each scripts}}
  <script src="{{src}}" charset="utf-8" defer></script>
{{/each}}
